@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e7eb;
    color: #141619;
    line-height: 1.6;
    overflow-x: hidden;
}

@media (max-width: 480px) {
  .hero {
    padding: 2rem 1rem;
  }

  .header {
    padding: 1.5rem 0.75rem;
  }

  .footer-content {
    padding: 0 0.5rem;
  }
}
